<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>Kies een geschikt filter voor je foto</title>

    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link href="/stylesheets/sticky-footer.css" rel="stylesheet">

</head>
<body>

    <h1>Kies een filter voor je foto</h1>
    <div id="photo"></div>

    <div id="filterContainer">
        <ul id="filters">
            <li> <a href="#" id="normal">Normal</a> </li>
            <li> <a href="#" id="vintage">Vintage</a> </li>
            <li> <a href="#" id="lomo">Lomo</a> </li>
            <li> <a href="#" id="clarity">Clarity</a> </li>
            <li> <a href="#" id="sinCity">Sin City</a> </li>
            <!-- 14 More filters go here -->
        </ul>
    </div>

    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="javascripts/filereader.min.js"></script>
    <script src="javascripts/caman.full.js"></script>
    <script src="javascripts/jquery.mousewheel.min.js"></script>
    <script src="javascripts/script.js"></script>

</body>
</html>