<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>Kies een geschikt filter voor je foto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link href="/stylesheets/sticky-footer.css" rel="stylesheet">

</head>
<body>

    <h1>Kies een filter voor je foto</h1>
    <div id="photo"></div>

    <div id="filterContainer">
        <ul id="filters">
            <li> <a href="#" id="normal">Normal</a> </li>
            <li> <a href="#" id="vintage">Vintage</a> </li>
            <li> <a href="#" id="lomo">Lomo</a> </li>
            <li> <a href="#" id="clarity">Clarity</a> </li>
            <li> <a href="#" id="sunrise">Sunrise</a> </li>
            <li> <a href="#" id="crossProcess">CrossProcess</a> </li>
            <li> <a href="#" id="jarques">Jarques</a> </li>
            <li> <a href="#" id="pinhole">Pinhole</a> </li>
            <li> <a href="#" id="oldBoot">OldBoot</a> </li>
            <li> <a href="#" id="glowingSun">GlowingSun</a> </li>
            <li> <a href="#" id="nostalgia">Nostalgia</a> </li>
            <li> <a href="#" id="hemingway">Hemingway</a> </li>
            <li> <a href="#" id="concentrate">Concentrate</a> </li>
            <!-- 14 More filters go here -->
        </ul>
    </div>

    <footer class="footer">
        <div class="footercontainer">
                <div class="upload-btn-wrapper">
                    <button type="button" class="arrow-button button" id="fileUploadButton" data-button="">
                        <div class="arrow-button__button">Gebruik dit filter</div>
                        <div class="arrow-button__arrow"></div>
                    </button>
                </div>
        </div>
    </footer>

    <!-- Libraries -->
    <script src="javascripts/filereader.min.js"></script>
    <script src="javascripts/caman.full.js"></script>
    <script src="javascripts/jquery.mousewheel.min.js"></script>
    <script src="javascripts/script.js"></script>

</body>
</html>